.contenedor{
    background-color: #0D767C;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 13vh;
    height: 77vh;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    text-align: center;
}

h3{
    font-family: Arial, Helvetica, sans-serif;


}

a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;


}

