// Light Theme
$light-text-87: rgba(0,0,0,0.87);
$light-text-60: rgba(0,0,0,0.60);
$light-text-38: rgba(0,0,0,0.38);

$light-background: #F0F2F5;
$light-panel: #FAFAFA;
$light-border: #adadad;

$light-warning: #FFB800;
$light-warning-30: rgba(255,187,0,0.30);
$light-warning-09: rgba(255,187,0,0.09);

$light-error: #EE2C4A;
$light-error-20: rgba(238,44,74,0.20);
$light-error-05: rgba(238,44,74,0.05);

$light-success: #CCFFC4;
$light-success-30: rgba(117, 188, 116, 1);
$light-success-09: rgba(68,204,119,0.09);

$light-jeans: #648BA7;
$light-jeans-30: rgba(100,139,167,0.30);
$light-jeans-09: rgba(100,139,167,0.09);

$light-highlight-bk: rgba(255,122,69,0.87);
$light-highlight-ck: rgba(250,219,20,0.87);
$light-highlight-sk: rgba(255,94,210,0.87);

// Dark Theme
$dark-text-87: rgba(255,255,255,0.87);
$dark-text-60: rgba(255,255,255,0.60);
$dark-text-38: rgba(255,255,255,0.38);

$dark-background: #121212;
$dark-panel: #222222;
$dark-border: rgba(255,255,255,0.09);

$dark-warning: #FFB800;
$dark-warning-30: rgba(255,187,0,0.30);
$dark-warning-14: rgba(255,187,0,0.14);

$dark-error: #EE2C4A;
$dark-error-30: rgba(238,44,74,0.30);
$dark-error-14: rgba(238,44,74,0.14);

$dark-success: #44CC77;
$dark-success-30: rgba(68,204,119,0.30);
$dark-success-14: rgba(68,204,119,0.14);

$dark-jeans: #648BA7;
$dark-jeans-30: rgba(100,139,167,0.30);
$dark-jeans-14: rgba(100,139,167,0.14);

$dark-highlight-bk: rgba(255,122,69,0.87);
$dark-highlight-ck: rgba(250,219,20,0.87);
$dark-highlight-sk: rgba(255,94,210,0.87);

$dark-level0: #121212;
$dark-level1: #1E1E1E;
$dark-level2: #242424;
$dark-level3: #222222;
$dark-level4: #2C2C2C;
$dark-level5: #323232;

$primary: #002671;
$primary-80: rgba(0,35,113,0.8);
$primary-30: rgba(0,35,113,0.3);
$primary-05: rgba(0,35,113,0.05);

// $linear-gradient: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
$linear-gradient: linear-gradient(0deg, #002671 0%, #003AAD 100%);
