:root {
    --primary-color: #0b9bb4c7;
    --secondary-color: #1eab67; /* Puedes agregar más colores aquí */
  }
    
.footer{
    width: 100%;
    height: 13vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 900;  
}
.footer a{
    display: flex;
    border: 1px solid;
    text-decoration: none;
    border-color: transparent;
    color: var(--blanco);
    align-items: center;
}