:root {
    --primary-color: #0b9bb4c7;
    --secondary-color: #1eab67; /* Puedes agregar más colores aquí */
  }
  
.container-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Distribuye las tarjetas con espacio */
    width: 100%;
    margin-top: 13vh;
    height: auto;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

h3 {
    font-family: Arial, Helvetica, sans-serif;


}

a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;


}

.curso-card {
    flex: 1 1 calc(33% - 40px);
    /* Hace que ocupe un tercio del ancho menos el margen */
    margin: 10px;
    max-width: 300px;
    /* Limita el tamaño máximo de cada tarjeta */
    min-width: 250px;
    /* Establece un tamaño mínimo para las tarjetas */
    box-sizing: border-box;
}

/* Estilos adicionales para el contenedor del ícono */
.icon-container {
    height: 180px;
    background-color: #f8f9fa;
}
/*Estilos para los botones*/

.custom-button {
    background-color: var(--primary-color) !important; /* Color de fondo inicial */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    transition: background-color 0.3s; /* Efecto de transición */
    
  }
  .custom-button:hover {
    background-color: white !important; /* Color de fondo al hacer hover */
    color: var(--primary-color);
    font-weight: bold;
   
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
  }
  
  .table {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .table th {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
  }
  
  .table td {
    text-align: center;
  }
  
  .btn {
    margin: 0 5px; /* Espaciado entre botones */
  }
  

/*Para lo responsivo*/
@media (max-width: 992px) {
    .curso-card {
        flex: 1 1 calc(50% - 40px);
        /* Para pantallas medianas, ajusta a dos columnas */
    }
}

@media (max-width: 768px) {
    .curso-card {
        flex: 1 1 calc(100% - 20px);
        /* Para pantallas pequeñas, ajusta a una columna */
    }
}