@use './styles/abstract/colors' as *;
.App { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 13vh;
    padding-bottom: 13vh;
  
    .bottom_co {
        font-size: 13px;
        background-color: $dark-level5;
        color: white;
    }

    .my_links {
        font-size: 13px;
        color: white;
        font-weight: 700;
    }
}